# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.history

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Symbolication and obfuscation files
app.*.symbols
app.*.map.json

# Folder settings
diff.txt
getDiff.sh
/research/
/unused_files/
